<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light" id="prendas">Prendas</h1>
    </div>
  </div>
</section>

<div class="album py-5" style="background-color: white">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let prenda of prendas">
        <div class="card shadow-sm" (click)="onSelected(prenda)">
          <img src="{{prenda.imagen}}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="{{prenda.nombre}}">
          <div class="card-body">
            <p class="card-text">{{prenda.nombre}}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Id:</strong>  {{prenda.id}}</li>
                <li class="list-group-item"><strong>Precio:</strong>  {{prenda.precio}}</li>
                <li class="list-group-item"><strong>Color:</strong> {{prenda.colores}}</li>
                <li class="list-group-item"><strong>Genero:</strong>  {{prenda.genero}}</li>
                <li class="list-group-item"><strong>Ocacion:</strong> {{prenda.ocasiones}}</li>
                <li class="list-group-item"><strong>Edad:</strong>  {{prenda.rango_edad}}</li>
                <li class="list-group-item"><strong>Talla:</strong> {{prenda.talla}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
