<section class="py-5 text-center container-fluid" id="cuerpo">
  <!-- Título de la sección-->
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Acerca de nosotros</h1>
    </div>
  </div>

  <!-- Mensaje general-->
  <div class="row py-lg-6 py-md-8 mx auto">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <p>
        Somos TuOutfit, los visionarios de la moda.
        <br><br>
        Creamos un universo de estilo, donde cada prenda es una declaración de audacia.
        <br><br>
        Inspírate en nuestros outfits únicos y desafía los límites de la moda convencional. Te ofrecemos el poder de transformarte, de ser el centro de atención en cada ocasión.
        <br><br>
        Únete a nosotros y descubre el arte de expresarte a través de la moda. En TuOutfit, cada paso que des es una afirmación de tu singularidad. ¡Libérate y haz al mundo tu pasarela!
        <br>
      </p>
    </div>

    <!-- Slogan de la compañía + firma fundador-->
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Moda. En tu mano</h1>
        <img src="../../assets/img/firma.png" id="firma">
      </div>
    </div>
  </div>
</section>
