<div class="text-center">
  <h1>Prenda Detallado</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Color</th>
        <th scope="col">Genero</th>
        <th scope="col">Ocacion</th>
        <th scope="col">Edad</th>
        <th scope="col">Talla</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{prendaDetail.id}}</td>
        <td><img src="{{prendaDetail.imagen}}" alt="{{prendaDetail.nombre}}"></td>
        <td>{{prendaDetail.nombre}}</td>
        <td>{{prendaDetail.precio}}</td>
        <td>{{prendaDetail.colores}}</td>
        <td>{{prendaDetail.genero}}</td>
        <td>{{prendaDetail.ocasiones}}</td>
        <td>{{prendaDetail.rango_edad}}</td>
        <td>{{prendaDetail.talla}}</td>
      </tr>
    </tbody>
  </table>
</div>