.navbar .nav-link {
  font-size: 2rem;
  color: #F0EBE1;
  margin: 0 130px;
  padding: 0;
}

.container-fluid{
  padding: 0;
}

.footer {
  flex-shrink: 0;
  background-color: transparent;
  color: black;
  text-align: center;
  margin: 0 !important;
}


.navbar {
  position: relative;
}

.center-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}

.button-position {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 50px;
  height: 50px;
  background-color: #6E6046;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button-position:hover {
  background-color: #BAA377;
  color: #6E6046;
  transform: scale(1.1);
}

.panel {
  position: fixed;
  right: 20px;
  bottom: 80px;
  background-color: #050D18;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.column-layout {
  display: flex;
  flex-direction: column;
}


body {
  min-height: 100vh !important;
  min-height: -webkit-fill-available !important;
}
