<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<!-- Barra de navegación -->
<nav class="container-fluid navbar navbar-expand-md fixed-top" style="background: rgba(5,13,24,1);">

  <!-- Botón para pantallas pequeñas -->
  <div class="d-flex justify-content-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>


  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

    <!-- Listado de opciones para navegar -->
    <ul class="navbar-nav nav-item">
      <a class="nav-link container" routerLink="Outfits">Outfits</a>
    </ul>

    <ul class="navbar-nav nav-item">
      <a class="nav-link container" routerLink="Prendas">Prendas</a>
    </ul>

    <!-- Here is your centered nav item -->
    <ul class="navbar-nav nav-item">
      <a class="nav-link container" routerLink="">TU OUTFIT</a>
    </ul>

    <ul class="navbar-nav nav-item">
      <a class="nav-link container" routerLink="Marcas">Marcas</a>
    </ul>

    <ul class="navbar-nav nav-item">
      <a class="nav-link container" routerLink="Nosotros">Nosotros</a>
    </ul>
  </div>
</nav>



<div class="container-fluid" >
  <router-outlet></router-outlet>
</div>

<!-- Pie de página. Muestra info de copyright -->
<div class="footer stick-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <p class="mt-3 mb-3">© 2023 TuOutfit. All rights reserved.</p>
          </div>
      </div>
  </div>
</div>


<div class="container">
  <button #button (click)="isPanelOpen = !isPanelOpen; $event.stopPropagation()" class="btn button-position rounded-circle shadow-lg">
    <i class="fas fa-user" ></i>
  </button>

  <div class="panel column-layout" *ngIf="isPanelOpen">
    <div class="icon-btn radius-style column-layout">

      <button class="btn-favoritos" *ngIf="authService.IsAuth()" routerLink="Favoritos">
        <span class="btn-gradient radius-btn">
          <i class="fa fa-favoritos"></i>
        </span>
        <span class="btn-text">Favoritos</span>
      </button>

      <button class="btn-iniciarSesion" *ngIf="!authService.IsAuth()" routerLink="Login">
        <span class="btn-gradient radius-btn">
          <i class="fa fa-iniciarSesion"></i>
        </span>
        <span class="btn-text">Iniciar sesión</span>
      </button>

      <button class="btn-cerrarSesion" *ngIf="authService.IsAuth()" (click)="logOut()">
        <span class="btn-gradient radius-btn">
          <i class="fa fa-cerrarSesion"></i>
        </span>
        <span class="btn-text">Cerrar sesión</span>
      </button>

      <button class="btn-registrar" *ngIf="!authService.IsAuth()" routerLink="Signup">
        <span class="btn-gradient radius-btn">
          <i class="fa fa-registrar"></i>
        </span>
        <span class="btn-text">Registrate</span>
      </button>







<!--
  <div (document:click)="isPanelOpen = false">
  </div>
</div>
-->
