<div class="text-center">
  <h1>Marca Detallada</h1>
  <table class="table table-bordered">
    <caption>Marca Detalles</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Url Sitio Web</th>
        <th scope="col">logo</th>
        <th scope="col">detalle marca</th>
        <th scope="col">Prendas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id">{{marcaDetail.id}}</td>
        <td class="name">{{marcaDetail.nombre}}</td>
        <td class="url">{{marcaDetail.url_sitio_web}}</td>
        <td><img src="{{marcaDetail.logo}}" alt="{{marcaDetail.nombre}}"></td>
        <td class="detalle">{{marcaDetail.detalle_de_marca}}</td>
        <td><dd class="caption" *ngFor="let prenda of marcaDetail.prendas">
          <p class="h3 p-3">{{ prenda.nombre }}</p>
          </dd></td>
      </tr>
    </tbody>
  </table>
</div>
