<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</header>


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{marcaDetail.logo}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID: {{marcaDetail.id}}</div>
                <h1 class="display-5 fw-bolder">{{marcaDetail.nombre}}</h1>
                <div class="fs-5 mb-5">
                  <span><strong>URL de la pagina: </strong> <a href={{marcaDetail.url_sitio_web}} target="_">{{marcaDetail.nombre}}</a></span><br>
                </div>
                <p class="lead">{{marcaDetail.detalle_de_marca}}</p>
            </div>
        </div>
    </div>
</section>

<!-- Prendas -->

<section class="py-5 text-center container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-3 fw-bold text-white" style="color: black!important;">Prendas</h1>
      <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
      <p class="p-text text-white" style="color: black!important">Las prendas de esta marca</p>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-between">
    <div>
      <p class="detail-filter">Prendas ({{getNumberOfPrendas()}})</p>
    </div>
    <div class="filtro">
      <button class="btn btn-primary" style="background-color: brown; color: white; margin-right: 2rem; border-width: 0;" (click)="showFilters = !showFilters">Filtro</button>
    </div>
  </div>
  <br>
  <div class="container-fluid filter" *ngIf="showFilters">
    <div class="row">
      <div class="col">
        <select class="form-select" #genders (change)="onSelectedFilterGender(genders.value)">
          <option value="Genero" selected>Genero</option>
          <option value="HOMBRE">Hombre</option>
          <option value="MUJER">Mujer</option>
          <option value="UNISEX">Unisex</option>
        </select>
      </div>
      <div class="col">
        <select class="form-select" #color (change)="onSelectedFilterColor(color.value)">
          <option value="Color" selected>Edad</option>
          <option value="AZUL">Azul</option>
          <option value="DORADO">Dorado</option>
          <option value="VERDE">Verde</option>
          <option value="PLATA">Plata</option>
          <option value="AMARILLO">Amarillo</option>
          <option value="CAFE">Cafe</option>
          <option value="BLANCO">Blanco</option>
          <option value="NEGRO">Negro</option>
        </select>
      </div>
      <div class="col">
        <select class="form-select" #occasion (change)="onSelectedFilterOcassion(occasion.value)">
          <option value="Ocasion" selected>Ocasion</option>
          <option value="BODA">Boda</option>
          <option value="FIESTA">Fiesta</option>
          <option value="CENA">Cena</option>
          <option value="CASUAL">Casual</option>
          <option value="FORMAL">Formal</option>
          <option value="GRADO">Grado</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row pb-5 mb-4 contenedor">
    <ng-container *ngFor="let prenda of marcaDetail.prendas | paginate: { itemsPerPage: 3, currentPage: p}">
      <ng-container *ngIf="selectedOccasion === 'Ocasion' || selectedOccasion === prenda.ocasiones">
        <ng-container *ngIf="selectedColor === 'Color' || selectedColor === prenda.colores">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" *ngIf="selectedGender === 'Genero' || selectedGender === prenda.genero">
            <div class="card rounded shadow-lg border-0" (click)="onSelected(prenda)">
              <div class="card-body p-4"><img src="{{prenda.imagen}}" alt="{{prenda.nombre}}" class="img-fluid d-block mx-auto mb-3">
                <h5>{{prenda.nombre}}</h5>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success price">{{prenda.precio}}$</i></li>
                </ul>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="mt-8 py-5 d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- Final Prendas -->

<!-- Tiendas Fisicas -->
<div class="text-center">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-3 fw-bold text-white" style="color: black!important;">Tiendas Fisicas</h1>
      <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
      <p class="p-text text-white" style="color: black!important">Las tiendas fisicas de esta marca</p>
    </div>
  </div>
  <div>
    <div class="album py-5" >
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" *ngFor="let tiendaFisica of tiendas">
            <div class="card shadow-sm" (click)="selectTienda(tiendaFisica)">
              <div class="card-body">
                <p class="card-text">{{tiendaFisica.nombre}}</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>id:</b>  {{tiendaFisica.id}}</li>
                    <li class="list-group-item"><b>horarios:</b>  {{tiendaFisica.horarios}}</li>
                    <li class="list-group-item"><b>marca:</b>  {{tiendaFisica.marca.nombre}}</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTienda">
      <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
          <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-8">
              <div class="col" id="mapa">
                <div class="map-container">
                  <iframe
                    #mapaIframe
                    width="100%"
                    height="400"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-container">
                <p class="id">ID: {{selectedTienda.id}}</p>
                <p class="nombre">Nombre: {{selectedTienda.nombre}}</p>
                <p class="horarios">Horarios: {{selectedTienda.horarios}}</p>
                <p class="ubicacion">Ubicacion: {{selectedTienda.ubicacion.longitud}}, {{selectedTienda.ubicacion.latitud}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
