<div class="text-center">
  <h1>Outfit Detallado</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Url Sitio Web</th>
        <th scope="col">logo</th>
        <th scope="col">detalle marca</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{marcaDetail.id}}</td>
        <td>{{marcaDetail.nombre}}</td>
        <td>{{marcaDetail.url_sitio_web}}</td>
        <td><img src="{{marcaDetail.logo}}" alt="{{marcaDetail.nombre}}"></td>
        <td>{{marcaDetail.detalle_marca}}</td>
      </tr>
    </tbody>
  </table>
</div>
