<!-- Título -->
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light" id="outfits">Outfits Favoritos de</h1>
    </div>
  </div>
</section>


<!-- Contenido-->
<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Número de outfits-->
    <div>
      <p class="detail-filter">Outfits Favoritos ({{getOutfitsLen()}})</p>
    </div>

  <div class="row pb-5 mb-4 contenedor">
    <ng-container *ngFor="let outfit of outfits | paginate: { itemsPerPage: 9, currentPage: p}">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="card rounded shadow-lg border-0" (click)="onSelected(outfit)">
              <div class="card-body p-4"><img src="{{outfit.imagen}}" alt="{{outfit.nombre}}" class="img-fluid d-block mx-auto mb-3">
                <h5>{{outfit.nombre}}</h5>
                <p class="small text-muted font-italic">{{outfit.descripcion}}</p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="text-success price">Precio: ${{outfit.precio}}</i></li>
                  <br>
                  <li class="list-inline-item m-0"><i class="text-success price">Genero: {{outfit.genero}}</i></li>
                  <br>
                  <li class="list-inline-item m-0"><i class="text-success price">Edad: {{outfit.rangoEdad}}</i></li>
                  <br>
                  <li class="list-inline-item m-0"><i class="text-success price">Ocasión: {{outfit.ocasiones}}</i></li>
                </ul>
              </div>
            </div>
          </div>
    </ng-container>
  </div>
</div>



