<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light" id="outfits">Outfits</h1>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row pb-5 mb-4" >
    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" *ngFor="let outfit of outfits | paginate: { itemsPerPage: 3, currentPage: p}" (click)="onSelected(outfit)">
      <div class="card rounded shadow-lg border-0">
        <div class="card-body p-4"><img src="{{outfit.imagen}}" alt="{{outfit.nombre}}" class="img-fluid d-block mx-auto mb-3">
          <h5>{{outfit.nombre}}</h5>
          <p class="small text-muted font-italic">{{outfit.descripcion}}</p>
          <ul class="list-inline small">
            <li class="list-inline-item m-0"><i class="fa fa-star text-success">Precio: {{outfit.precio}}$</i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 py-5 d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
