body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F0EBE1 !important;
  color: #050D18 !important;
  font-family: 'Neuton', serif !important;
}
.content {
  flex: 1 0 auto;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
