/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fefaf6 !important;

  font-family: luxia, sans-serif !important;
}
.content {
  flex: 1 0 auto;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
