<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</header>


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{outfitDetail.imagen}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID: {{outfitDetail.id}}</div>
                <h1 class="display-5 fw-bolder">{{outfitDetail.nombre}}</h1>
                <div class="fs-5 mb-5">
                    <span><strong>Precio: </strong>${{outfitDetail.precio}}</span><br>
                    <span><strong>Color Principal: </strong>{{outfitDetail.colores}}</span><br>
                    <span><strong>Genero: </strong>{{outfitDetail.genero}}</span><br>
                    <span><strong>Ocasion: </strong>{{outfitDetail.ocasiones}}</span><br>
                    <span><strong>Rango Edad: </strong>{{outfitDetail.rangoEdad}}</span><br>
                    <span><strong>Talla: </strong>{{outfitDetail.talla}}</span><br>
                </div>
                <p class="lead">{{outfitDetail.descripcion}}</p>
                <div class="d-flex">
                    <div class="interact">
                      <div class="interact">
                        <button class="btn btn-light heart">
                            <i class="fa fa-heart"></i> Like
                        </button>
                        <button class="btn btn-light comment">
                            <i class="fa fa-comment"></i> Comment
                        </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


