.interact .btn {
  margin-right: 10px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  border-radius: 25px;
}

.interact .heart:hover {
  color: #fff;
  background-color: rgb(255, 72, 72);
  border-color: rgb(255, 72, 72);
}

.interact .comment:hover {
  color: #fff;
  background-color: #eb85ff;
  border-color: #eb85ff;
}


.interact .fa-heart:before {
  content: "\f004";
}

.interact .fa-comment:before {
  content: "\f075";
}
