<div class="text-center">
  <h1>Outfit Detallado</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Color</th>
        <th scope="col">Genero</th>
        <th scope="col">Ocacion</th>
        <th scope="col">Edad</th>
        <th scope="col">Talla</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{outfitDetail.id}}</td>
        <td>{{outfitDetail.descripcion}}</td>
        <td><img src="{{outfitDetail.imagen}}" alt="{{outfitDetail.nombre}}"></td>
        <td>{{outfitDetail.nombre}}</td>
        <td>{{outfitDetail.precio}}</td>
        <td>{{outfitDetail.colores}}</td>
        <td>{{outfitDetail.genero}}</td>
        <td>{{outfitDetail.ocasiones}}</td>
        <td>{{outfitDetail.rango_edad}}</td>
        <td>{{outfitDetail.talla}}</td>
      </tr>
    </tbody>
  </table>
</div>
