<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</header>


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{outfitDetail.imagen}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID: {{outfitDetail.id}}</div>
                <h1 class="display-5 fw-bolder">{{outfitDetail.nombre}}</h1>
                <div class="fs-5 mb-5">
                    <span><strong>Precio: </strong>${{outfitDetail.precio}}</span><br>
                    <span><strong>Color Principal: </strong>{{outfitDetail.colores}}</span><br>
                    <span><strong>Genero: </strong>{{outfitDetail.genero}}</span><br>
                    <span><strong>Ocasion: </strong>{{outfitDetail.ocasiones}}</span><br>
                    <span><strong>Rango Edad: </strong>{{outfitDetail.rangoEdad}}</span><br>
                    <span><strong>Talla: </strong>{{outfitDetail.talla}}</span><br>
                </div>
                <p class="lead">{{outfitDetail.descripcion}}</p>
                <div class="d-flex">
                    <div class="interact">
                      <div class="interact">
                        <button class="btn btn-light heart" (click)="onLikeButtonClick(outfitDetail.id)">
                          <i class="fa fa-heart"></i> Like
                        </button>
                        <button class="btn btn-light comment" (click)="onCommentButtonClick(outfitDetail.id)" *ngIf="usuarioService.IsAuth()">
                          <i class="fa fa-comment"></i> Comment
                      </button>
                        <button class="btn btn-light comment" (click)="onCommentButtonClickNot()" *ngIf="!usuarioService.IsAuth()">
                          <i class="fa fa-comment"></i> Comment
                      </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Prendas -->


<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light" id="outfits">Prendas</h1>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-between">
    <div>
      <p class="detail-filter">Prendas ({{getNumberOfPrendas()}})</p>
    </div>
  </div>
  <br>

  <div class="row pb-5 mb-4 contenedor">
    <ng-container *ngFor="let prenda of outfitDetail.prendas">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
            <div class="card rounded shadow-lg border-0">
              <div class="card-body p-4"><img src="{{prenda.imagen}}" alt="{{prenda.nombre}}" class="img-fluid d-block mx-auto mb-3">
                <h5>{{prenda.nombre}}</h5>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success price">{{prenda.precio}}$</i></li>
                </ul>
              </div>
            </div>
          </div>
        </ng-container>
  </div>
</div>

<!-- Prendas Finaliza -->

